@page "/"
@inject IRepository repository
@*Html and C# can be written here*@
<div>
    <h3>Movie</h3>
    @*Movies List component*@
    <MoviesList Movies="movies" />

    



</div>
@code{

    private List<Movie> movies;
    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        movies = repository.GetMovies();

    }
}