@page "/"
@inject IRepository repository
@*Html and C# can be written here*@
<div>
    <h3>Movie</h3>
    @*Movies List component*@
    <MoviesList  Movies="movies" />

    
    <button @onclick="AddNewMovie">Add New Movie</button>


</div>
@code{
    //can invoke c# methods on this class and then manipulate output of thr movies list with @ref 
    private MoviesList moviesList;




    private List<Movie> movies;
    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        movies = repository.GetMovies();

    }
    //sample for add new movie request
    private void AddNewMovie()
    {
        
        movies.Add(new Movie() { Title = "Movie Sampler", ReleaseDate = DateTime.Today });
    }
}