@page "/"
@inject IRepository repository
@using static BlazorMovies.Client.Shared.MainLayout;
@*Html and C# can be written here*@
<div>
    <h3 style="color:@appState.Color; font-size:@appState.Size">Movie</h3>
    @*Movies List component*@
    <MoviesList  Movies="movies" />

    
    <button @onclick="AddNewMovie">Add New Movie</button>


</div>
@code{
    //can invoke c# methods on this class and then manipulate output of the movies list with @ref 

    [CascadingParameter]public AppState appState { get; set; }


    private List<Movie> movies;
    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        movies = repository.GetMovies();

    }
    //sample for add new movie request
    private void AddNewMovie()
    {

        movies.Add(new Movie() { Title = "Movie Sampler", ReleaseDate = DateTime.Today });
    }
}