@page "/"
@inject IRepository repository
<div>
    <h3>Movie</h3>
    <MoviesList  Movies="movies" />
</div>

@code{
    //can invoke c# methods on this class and then manipulate output of the movies list with @ref 



    private List<Movie> movies;
    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        movies = repository.GetMovies();

    }
    //sample for add new movie request
   @* private void AddNewMovie()
    {

        movies.Add(new Movie() { Title = "Movie Sampler", ReleaseDate = DateTime.Today });
    }*@
}