@page "/movie/{MovieID:int}"
@page "/movie/{MovieID:int}/{MovieName}"
<h3>DetailsMovie</h3>

@code {
    [Parameter] public int MovieId { get; set; }
    [Parameter] public string MovieName { get; set; }
    protected override void OnInitialized()
    {
        Console.WriteLine($"this is movie id {MovieId}");
        Console.WriteLine($"this is movie name {MovieName}");

    }
}
