@page "/movies/edit/{MovieId:int}"
<h3>EditMovies</h3>
<MovieForm Movie="Movie" OnValidSubmit="Edit" SelectedGenres="SelectedGenres" NotSelectedGenres="NotSelectedGenres"/>
@code {
    [Parameter] public int MovieId { get; set; }
    private Movie Movie;
    private List<Genre> NotSelectedGenres = new List<Genre>()
    {
          new Genre(){ID = 1, Name = "Action"},
        new Genre(){ID = 2, Name = "drama"},
     
    };
    private List<Genre> SelectedGenres = new List<Genre>()
    {

      
        new Genre(){ID = 3, Name = "comedy"}
    };
    protected override void OnInitialized()
    {
        Movie = new Movie() { Id = Movie.Id, Title = "My Movie" };
    }
    private void Edit()
    {
        Console.WriteLine("Edititing the moviee");
    }
}
